<!-- main content -->

<div  class="text-center preloader" ng-show="loader">

  <span><img src="loading.gif" width="80px" height="80px" /> Fetching data...this may take few moments</span>

</div>

<div id="content">

	<div id="sortable-panel" class="">

		<div id="titr-content" class="col-md-12">     

			<div class="panel panel-default">

				<div class="panel-body"> 

					<form class="form-horizontal">

						<fieldset ng-disabled="isDisabled">
                               <div class="form-group">
								<div class="col-sm-12">

								
									
									
								</div>
									<label class="col-sm-7 pull-left">
										Please enter Amazon product URL<a href="https://infoshoreapps.zendesk.com/hc/en-us/articles/360016229474-How-to-import-product-by-URL-to-your-Shopify-store" target="_blank">Click here for instructions</a>
									</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-7">
										<div class="input-group">
											<input type="text" class="form-control" ng-model="pageObj.producturl">
											<span class="input-group-btn">
												<button class="btn btn-success pull-right" ng-click="addProduct(pageObj)" data-toggle="dropdown" aria-expanded="false">
													<span>{{ "product.form.add" | translate }}</span>
													<span class="caret"></span><span class="ripple ripple-animate" style="height: 78px; width: 78px; animation-duration: 0.4s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.2; top: -21px; left: -6px;    margin-left: 10px;"></span></button>
													<ul class="dropdown-menu">
														<li>
															<a href="{{product.variants[0].detail_page_url}}" target="_blank">{{ "product.form.addmultivariant" | translate }}</a>
														</li>
													
													
													
													
														
														
													
													</ul>
												</button>
											</span>
										</div>
										
										
									
						</fieldset>

					</form>

					<div ng-if="products.length > 0">
						<div class="col-md-12 panel-body">

								<div class="form-inline pull-left">

									<button class="btn btn-primary" ui-sref="admin.asinProduct" ng-show="profile.amztoken == 1"><i class="fa fa-plus"></i> {{"product.form.addNew" | translate}}</button>

								</div>
						</div>

						<div ng-show="pagination.total == 0">

							<h1 style="text-align:center;">No products found.</h1>

						</div>
						
						<table class="table table-hover" ng-show="pagination.total != 0">
							<thead ng-show="product.cstatus == 'Error'">
								<tr>
									<th width="5%" style="text-align:center;">
										<div class="checkbox checkbox-primary"></div>
									</th>
									<th style="text-align:center;" width="10%"></th>
									<th width="35%">{{"product.form.title" | translate}}</th>
									<th width="15%">{{"product.form.status" | translate}}</th>
									<th width="10%">{{"product.form.actions" | translate}}</th> 
								</tr>
							</thead>
							<tbody ng-repeat="(key,product) in products">
								<tr ng-show="product.cstatus == 'Error'"> 
									<td style="text-align:center;">
										<div class="checkbox checkbox-primary">
											<input id="{{product.product_id}}" type="checkbox" class="conchkNumber" value="{{product.title}}" ng-checked="selection.indexOf(product.product_id) > -1" ng-click="toggleSelection(product.product_id)" ng-model="product.Selected" >
											<label for="{{product.product_id}}"></label>
										</div>
									</td>
									<td style="text-align:center;" width="10%">
										<div ng-if="product.status == 'Import in progress'">
											<img src="loading.gif" width="80px" height="80px" />
											<p>Fetching data, please wait for a moment...</p>
										</div>
										<img ng-if="product.cstatus == 'Error'" src="error.png" width="50px" height="50px" />
										<img ng-if="product.variants[0]" ng-src="{{product.variants[0].main_image.imgurl}}" alt="avatar" class="img-circle img-responsive" fallback-src="{{'../assets/img/broken/broken-link-250x250.png'}}">
									</td>
									<td style="word-wrap: break-word;max-width: 400px;">{{product.title}}<br /><strong ng-if="product.variants[0]">ASIN: {{product.variants[0].sku}}</strong></td>
									<td style="word-wrap: break-word;max-width: 200px;">{{product.status}}<br/>
										<a href="https://{{profile.shopurl}}/admin/products/{{product.shopifyproductid}}" ng-if="product.shopifyproductid" target="_blank">View on Shopify</a>
										<a data-toggle="modal" data-target="#addField" ng-if="product.status == 'Incomplete'" ng-click="addFieldId(product.product_id)">Click here to add missing data</a>
									</td>
									<td>
										<div class="btn-group" ng-if="product.variants[0]">
											<button class="btn btn-primary dropdown-toggle has-ripple" data-toggle="dropdown" aria-expanded="false">Action<span class="caret"></span><span class="ripple ripple-animate" style="height: 78px; width: 78px; animation-duration: 0.4s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.2; top: -21px; left: -6px;"></span></button>
											<ul class="dropdown-menu">
												<li>
													<a href="{{product.variants[0].detail_page_url}}" target="_blank">View on Amazon</a>
												</li>
												<li>
													<a href="https://{{profile.shopurl}}/admin/products/{{product.shopifyproductid}}" ng-show="product.shopifyproductid != ''"  target="_blank">View on Shopify</a>
												</li>
												<li>
													<a ng-click="reimport(product.product_id)" style="cursor:pointer;" ng-show="profile.id == 193">Reimport</a>
												</li>        
												<li>
													<a ng-show="product.block == 0 && profile.id == 193" ng-click="block(product.product_id)" style="cursor:pointer;">Block Auto-Sync</a><a ng-show="product.block == 1 && profile.id == 193" ng-click="unblock(product.product_id)" style="cursor:pointer;">Unblock Auto-Sync</a>
												</li>
												<!--<li>
													<a ui-sref="admin.reviews({id:product.variants[0].asin})" >View Reviews</a>
												</li>-->
												<li>
													<a href="" ng-click="fetchReviews(product.variants[0].asin)">Fetch Reviews</a>
												</li>
						
												<li class="divider"></li>
												<li>
													<a ng-click="destroy(key,product.product_id)" style="cursor:pointer;">Delete Product</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>

							
							<div ng-show="product.cstatus != 'Error'">
							
							</div>
							  
						</table>
					
						<div>                      
<div class="modal fade" id="addField" tabindex="-1" aria-labelledby="myModalLabel3" style="overflow-y: hidden;">
                                               <div class="modal-dialog" style="width:70%;overflow-y: scroll; max-height:85%;margin:67px auto;">
                                                  <div class="modal-content">
                                                     <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel3">Add Price</h4>
                                                     </div>
                                                     <div class="panel-body">
                                                        <div class="panel-body col-sm-12">
                                                        <form class="form-horizontal" ng-submit="addField(padd)">
                                                         <div class="form-group">
                                                         	
                                                            <label class="col-sm-3 control-label">Price</label>
                                                            <div class="col-sm-7">
                                                                <input type="number" step="any" class="form-control" ng-model="padd.price" required>
                                                            </div>
                                                         </div>
                                                         <div class="form-group">
                                                            <div class="col-sm-12">	
                                                                <button class = "btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                     </div>
                                                   </form>                   
                                                  </div>
                                               </div>
                                            </div>
        				
        
        				</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>