<!-- main content -->
<div id="content">
	<div id="sortable-panel" class="">  
		<div class="col-md-12">
    		<div class="col-sm-4">
      			<div class="panel panel-default">
					<div class="panel-body">
						<a ui-sref="admin.products">
        					<div class="col-md-12">
        						<div class="col-sm-2"></div>
								<div class="col-sm-7">
									<img src="../assets/img/avatars/product.png" style="height:135px;width:135px;">
								</div>
								<div class="col-sm-3"></div>
							</div>
						</a>
					</div>
					<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
						<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.products"><u>Manage Products</u>&nbsp;&nbsp;</b><b style="font-size: 13px;cursor:pointer;" ui-sref="admin.addproduct"><u>Import Product By URL</u></b>&nbsp;&nbsp;&nbsp;<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.asinBlkProduct"><u>Bulk Import</u></b>&nbsp;&nbsp;<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.incompleteProducts"><u>Incomplete Products</u></b><br/>
					</div>
      			</div>
			</div>
       		<div class="col-sm-4">
      			<div class="panel panel-default">
					<div class="panel-body">
						<a ui-sref="admin.amzconfig">
        					<div class="col-md-12">
        						<div class="col-sm-2"></div>
								<div class="col-sm-7">
									<img src="../assets/img/avatars/amazon.png" style="height:135px;width:135px;">
								</div>
								<div class="col-sm-3"></div>
							</div>
						</a>
					</div>
					<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
						<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.amzconfig"><u>Link Amazon Associate Account</u></b>
  					</div>
				</div>	
   			</div>
			<div class="col-sm-4">
      			<div class="panel panel-default">
					<div class="panel-body">
						<a ui-sref="admin.settings">
        					<div class="col-md-12">
        						<div class="col-sm-2"></div>
								<div class="col-sm-7">
									<img src="../assets/img/avatars/setting.png" style="height:135px;width:135px;">
								</div>
								<div class="col-sm-3"></div>
							</div>
						</a>
					</div>
					<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
						<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.settings"><u>General Settings</u></b>&nbsp;&nbsp;<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.buynowlink"><u>Buy Now Link</u></b>&nbsp;&nbsp;<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.pricingrules"><u>Pricing Rules</u></b>&nbsp;&nbsp;<b style="font-size: 13px;cursor:pointer;" ui-sref="admin.syncsettings"><u>Sync Settings</u></b>
					</div>
				</div>
   			</div>
  		</div>
        <div class="col-md-12">
			<div class="col-sm-4">
      			<div class="panel panel-default">
					<div class="panel-body">
						<a href="https://infoshoreapps.zendesk.com/hc/en-us/categories/360001364874-Amazon-Associate-Connector" target="_blank">
        					<div class="col-md-12">
        						<div class="col-sm-2"></div>
								<div class="col-sm-7">
									<img src="../assets/img/avatars/knowledge.png" style="height:135px;width:135px;">
								</div>
								<div class="col-sm-3"></div>
							</div>
						</a>
					</div>
					<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
						<a href="https://infoshoreapps.zendesk.com/hc/en-us/categories/360001364874-Amazon-Associate-Connector" target="_blank"><b style="    color: black;
							font-size: 13px;
							cursor: pointer;"><u>User Guides</u></b></a>
  					</div>                    
				</div>
			</div>	
    		<div class="col-sm-4">
      			<div class="panel panel-default">
					<div class="panel-body">
						<a href="mailto:epihelp@infoshore.biz" target="_blank">
        					<div class="col-md-12">
        						<div class="col-sm-2"></div>
								<div class="col-sm-7">
									<img src="../assets/img/avatars/help.png" style="height:135px;width:135px;">
								</div>
								<div class="col-sm-3"></div>
							</div>
						</a>
					</div>
                    <div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;"><a href="mailto:epihelp@infoshore.biz" target="_blank">
						<b style=" color: black;
						font-size: 13px;
						cursor: pointer;">Send email at <u>epihelp@infoshore.biz</u> for any query</b></a><br />
					</div>
				</div>
			</div>			
        </div>
        <div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" style="cursor:pointer;font-size: 16px;"><i class="fa fa-bars" aria-hidden="true"></i> <strong>Checkout our other Shopify Apps</strong>
				</div>
				<div class="panel-body">
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading" style="background-color:#e4e4e4;cursor:pointer;font-size: 16px;text-align:center;"><strong><u>Xpert Importer - Amazon to Shopify</u></strong></div>
							<div class="panel-body">			
								<div class="col-md-12">									
									<div class="col-sm-12" style="padding:5px;text-align:center;">
										<img src="../assets/img/amazon.png" style="height:75px;width:auto;text-align:center;" />
										<br />
										<ul class="list-unstyled">
											<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Import products from Amazon Seller central account.</strong></li>
											<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Automatic Inventory/Price Sync Between The Channels.</strong></li>
											<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Support all amazon marketplaces.</strong></li>
										</ul>																		
									</div>									
								</div>								
							</div>
							<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
								<a href="https://apps.shopify.com/xpert-importer" target="_blank"><b style="font-size: 16px;cursor:pointer;"><u>TRY NOW</u></b></a><br />
							</div>                    
						</div>
					</div>	
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading" style="background-color:#e4e4e4;cursor:pointer;font-size: 16px;text-align:center;"><strong><u>Professional Importer For eBay</u></strong></div>
							<div class="panel-body">			
								<div class="col-md-12">									
									<div class="col-sm-12" style="padding:5px;text-align:center;">
										<img src="../assets/img/eb.jpg" style="height:75px;width:auto;text-align:center;" />
										<br />
										<ul class="list-unstyled">
											<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Import products from eBay Seller central account.</strong></li>
												<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Automatic Inventory/Price Sync Between The Channels.</strong></li>
												<li style="padding-bottom:5px;font-size:15px;"><strong><i class="fa fa-check"></i> Support all eBay marketplaces.</strong></li>
										</ul>																		
									</div>									
								</div>								
							</div>
							<div class="panel-body" style="background-color:#e4e4e4;padding:5px;text-align:center;">
								<a href="https://apps.shopify.com/epi" target="_blank"><b style="font-size: 16px;cursor:pointer;"><u>TRY NOW</u></b></a><br />
							</div>                    
						</div>
					</div>						
					<div class="col-sm-4">
					</div>
				</div>
			</div>
		</div>
	</div>
  
</div>