<!-- main content -->
<div id="content">
	<div id="sortable-panel" class="">  
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
		    		<p><strong>Q. Can I import listings from my Amazon Seller Central account?</strong><br />A. No, this APP is designed to import any amazon products under amazon associate program.</p>
					<p><strong>Q. Will this APP add Buy Now button with my affiliate link on product pages?</strong><br />A. No, this APP does not provide this feature. The main aim of the APP is to import products from Amazon to shopify.</p>
					<p><strong>Q. How the orders gets fulfilled from Amazon in Dropship business model?</strong><br />A. When you receive an order on your Shopify store, you can place the order on amazon website and put customer's address as delivery address on amazon. This way you can earn the difference.</p>
  				</div>
			</div>
		</div>
	</div>
    <!-- end col-md-12 -->
</div><!-- end #content -->